<h1>List of Movies</h1>
<p>
    <a href="/movie/create">Create a new movie</a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input type="text" class='form-control movie' ng-model='movieTitle' name="name" placeholder="serch for a movie...">
        </div>

    </div>

</div>



<div class="row">
    <div class="col-md-3" ng-repeat='m in vm.movies|filter:movieTitle'><!--filter:movieTitle自动查询-->
        <img
        ng-src="{{m.imageUrl}}" class='img-responsive img-circle movieImg'
        alt="iamge"
        ng-click='vm.getMovieDetails((m.id))'/>
    </div>
</div>
